<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>adbe.XXXXX</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>CustomScheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(PRODUCT_NAME)</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>monumental</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>AcuminPro-Black.ttf</string>
		<string>AcuminPro-BlackItalic.otf</string>
		<string>AcuminPro-Bold.ttf</string>
		<string>AcuminPro-BoldItalic.otf</string>
		<string>AcuminPro-ExtraLight.otf</string>
		<string>AcuminPro-ExtraLightItalic.otf</string>
		<string>AcuminPro-Italic.otf</string>
		<string>AcuminPro-Light.otf</string>
		<string>AcuminPro-LightItalic.otf</string>
		<string>AcuminPro-Medium.ttf</string>
		<string>AcuminPro-MediumItalic.ttf</string>
		<string>AcuminPro-Regular.ttf</string>
		<string>AcuminPro-Semibold.ttf</string>
		<string>AcuminPro-SemiboldItalic.otf</string>
		<string>AcuminPro-Thin.otf</string>
		<string>AcuminPro-ThinItalic.otf</string>
		<string>AcuminPro-UltraBlack.otf</string>
		<string>AcuminPro-UltraBlackItalic.otf</string>
		<string>AcuminProCond-Black.ttf</string>
		<string>AcuminProCond-BlackItalic.otf</string>
		<string>AcuminProCond-Bold.otf</string>
		<string>AcuminProCond-BoldItalic.otf</string>
		<string>AcuminProCond-ExtraLight.otf</string>
		<string>AcuminProCond-ExtraLightItalic.otf</string>
		<string>AcuminProCond-Italic.otf</string>
		<string>AcuminProCond-Light.otf</string>
		<string>AcuminProCond-LightItalic.otf</string>
		<string>AcuminProCond-Medium.otf</string>
		<string>AcuminProCond-MediumItalic.otf</string>
		<string>AcuminProCond-Regular.otf</string>
		<string>AcuminProCond-Semibold.otf</string>
		<string>AcuminProCond-SemiboldItalic.otf</string>
		<string>AcuminProCond-Thin.otf</string>
		<string>AcuminProCond-ThinItalic.otf</string>
		<string>AcuminProCond-UltraBlack.otf</string>
		<string>AcuminProCond-UltraBlackItalic.otf</string>
		<string>AcuminProExtraCond-Black.otf</string>
		<string>AcuminProExtraCond-BlackItalic.otf</string>
		<string>AcuminProExtraCond-Bold.otf</string>
		<string>AcuminProExtraCond-BoldItalic.otf</string>
		<string>AcuminProExtraCond-ExtraLight.otf</string>
		<string>AcuminProExtraCond-ExtraLightItalic.otf</string>
		<string>AcuminProExtraCond-Italic.otf</string>
		<string>AcuminProExtraCond-Light.otf</string>
		<string>AcuminProExtraCond-LightItalic.otf</string>
		<string>AcuminProExtraCond-Medium.otf</string>
		<string>AcuminProExtraCond-MediumItalic.otf</string>
		<string>AcuminProExtraCond-Regular.otf</string>
		<string>AcuminProExtraCond-Semibold.otf</string>
		<string>AcuminProExtraCond-SemiboldItalic.otf</string>
		<string>AcuminProExtraCond-Thin.otf</string>
		<string>AcuminProExtraCond-ThinItalic.otf</string>
		<string>AcuminProExtraCond-UltraBlack.otf</string>
		<string>AcuminProExtraCond-UltraBlackItalic.otf</string>
		<string>AcuminProSemiCond-Black.otf</string>
		<string>AcuminProSemiCond-BlackItalic.otf</string>
		<string>AcuminProSemiCond-Bold.otf</string>
		<string>AcuminProSemiCond-BoldItalic.otf</string>
		<string>AcuminProSemiCond-ExtraLight.otf</string>
		<string>AcuminProSemiCond-ExtraLightItalic.otf</string>
		<string>AcuminProSemiCond-Italic.otf</string>
		<string>AcuminProSemiCond-Light.otf</string>
		<string>AcuminProSemiCond-LightItalic.otf</string>
		<string>AcuminProSemiCond-Medium.otf</string>
		<string>AcuminProSemiCond-MediumItalic.otf</string>
		<string>AcuminProSemiCond-Regular.otf</string>
		<string>AcuminProSemiCond-Semibold.otf</string>
		<string>AcuminProSemiCond-SemiboldItalic.otf</string>
		<string>AcuminProSemiCond-Thin.otf</string>
		<string>AcuminProSemiCond-ThinItalic.otf</string>
		<string>AcuminProSemiCond-UltraBlack.otf</string>
		<string>AcuminProSemiCond-UltraBlackItalic.otf</string>
		<string>AcuminProWide-Black.otf</string>
		<string>AcuminProWide-BlackItalic.otf</string>
		<string>AcuminProWide-Bold.otf</string>
		<string>AcuminProWide-BoldItalic.otf</string>
		<string>AcuminProWide-ExtraLight.otf</string>
		<string>AcuminProWide-ExtraLightItalic.otf</string>
		<string>AcuminProWide-Italic.otf</string>
		<string>AcuminProWide-Light.otf</string>
		<string>AcuminProWide-LightItalic.otf</string>
		<string>AcuminProWide-Medium.otf</string>
		<string>AcuminProWide-MediumItalic.otf</string>
		<string>AcuminProWide-Regular.otf</string>
		<string>AcuminProWide-Semibold.otf</string>
		<string>AcuminProWide-SemiboldItalic.otf</string>
		<string>AcuminProWide-Thin.otf</string>
		<string>AcuminProWide-ThinItalic.otf</string>
		<string>AcuminProWide-UltraBlack.otf</string>
		<string>AcuminProWide-UltraBlackItalic.otf</string>
		<string>Arsenal-Bold.ttf</string>
		<string>Arsenal-BoldItalic.ttf</string>
		<string>Arsenal-Italic.ttf</string>
		<string>Arsenal-Regular.ttf</string>
		<string>Cabin-Bold.ttf</string>
		<string>Cabin-BoldItalic.ttf</string>
		<string>Cabin-Italic.ttf</string>
		<string>Cabin-Medium.ttf</string>
		<string>Cabin-MediumItalic.ttf</string>
		<string>Cabin-Regular.ttf</string>
		<string>Cabin-SemiBold.ttf</string>
		<string>Cabin-SemiBoldItalic.ttf</string>
		<string>Cairo-Black.ttf</string>
		<string>Cairo-Bold.ttf</string>
		<string>Cairo-ExtraLight.ttf</string>
		<string>Cairo-Light.ttf</string>
		<string>Cairo-Regular.ttf</string>
		<string>Cairo-SemiBold.ttf</string>
		<string>Lato-Black.ttf</string>
		<string>Lato-BlackItalic.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-BoldItalic.ttf</string>
		<string>Lato-Hairline.ttf</string>
		<string>Lato-HairlineItalic.ttf</string>
		<string>Lato-Heavy.ttf</string>
		<string>Lato-HeavyItalic.ttf</string>
		<string>Lato-Italic.ttf</string>
		<string>Lato-Light.ttf</string>
		<string>Lato-LightItalic.ttf</string>
		<string>Lato-Medium.ttf</string>
		<string>Lato-MediumItalic.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lato-Semibold.ttf</string>
		<string>Lato-SemiboldItalic.ttf</string>
		<string>Lato-Thin.ttf</string>
		<string>Lato-ThinItalic.ttf</string>
		<string>MDNichrome-Black.otf</string>
		<string>MDNichrome-Heavy.otf</string>
		<string>MDNichrome-Thin.otf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-Semibold.ttf</string>
		<string>OpenSans-SemiboldItalic.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Semibold.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>RocGrotesk-Black.otf</string>
		<string>RocGrotesk-Bold.otf</string>
		<string>RocGrotesk-ExtraBold.otf</string>
		<string>RocGrotesk-ExtraLight.otf</string>
		<string>RocGrotesk-Heavy.otf</string>
		<string>RocGrotesk-Light.otf</string>
		<string>RocGrotesk-Medium.otf</string>
		<string>RocGrotesk-Regular.otf</string>
		<string>RocGrotesk-Thin.otf</string>
		<string>RocGroteskComp-Black.otf</string>
		<string>RocGroteskComp-Bold.otf</string>
		<string>RocGroteskComp-ExtraBold.otf</string>
		<string>RocGroteskComp-ExtraLight.otf</string>
		<string>RocGroteskComp-Heavy.otf</string>
		<string>RocGroteskComp-Light.otf</string>
		<string>RocGroteskComp-Medium.otf</string>
		<string>RocGroteskComp-Regular.otf</string>
		<string>RocGroteskComp-Thin.otf</string>
		<string>RocGroteskCond-Black.otf</string>
		<string>RocGroteskCond-Bold.otf</string>
		<string>RocGroteskCond-ExtraBold.otf</string>
		<string>RocGroteskCond-ExtraLight.otf</string>
		<string>RocGroteskCond-Heavy.otf</string>
		<string>RocGroteskCond-Light.otf</string>
		<string>RocGroteskCond-Medium.otf</string>
		<string>RocGroteskCond-Regular.otf</string>
		<string>RocGroteskCond-Thin.otf</string>
		<string>RocGroteskExtraWide-Black.otf</string>
		<string>RocGroteskExtraWide-Bold.otf</string>
		<string>RocGroteskExtraWide-ExtraBold.otf</string>
		<string>RocGroteskExtraWide-ExtraLight.otf</string>
		<string>RocGroteskExtraWide-Heavy.otf</string>
		<string>RocGroteskExtraWide-Light.otf</string>
		<string>RocGroteskExtraWide-Medium.otf</string>
		<string>RocGroteskExtraWide-Regular.otf</string>
		<string>RocGroteskExtraWide-Thin.otf</string>
		<string>RocGroteskWide-Black.otf</string>
		<string>RocGroteskWide-Bold.otf</string>
		<string>RocGroteskWide-ExtraBold.otf</string>
		<string>RocGroteskWide-ExtraLight.otf</string>
		<string>RocGroteskWide-Heavy.otf</string>
		<string>RocGroteskWide-Light.otf</string>
		<string>RocGroteskWide-Medium.otf</string>
		<string>RocGroteskWide-Regular.otf</string>
		<string>RocGroteskWide-Thin.otf</string>
		<string>SequelSans-Black.ttf</string>
		<string>SequelSans-Bold.ttf</string>
		<string>SequelSans-BoldItalic.ttf</string>
		<string>SequelSans-Italic.ttf</string>
		<string>SequelSans-Light.ttf</string>
		<string>SequelSans-LightItalic.ttf</string>
		<string>SequelSans-Medium.ttf</string>
		<string>SequelSans-MediumItalic.ttf</string>
		<string>SequelSans-Regular.ttf</string>
		<string>SequelSans-Semi.ttf</string>
		<string>SequelSans-SemiItalic.ttf</string>
		<string>Termina-Bold.otf</string>
		<string>Termina-Demi.otf</string>
		<string>Termina-ExtraLight.otf</string>
		<string>Termina-Heavy.otf</string>
		<string>Termina-Light.otf</string>
		<string>Termina-Medium.otf</string>
		<string>Termina-Regular.otf</string>
		<string>Termina-Thin.otf</string>
		<string>Termina.otf</string>
		<string>TitilliumWeb-Black.ttf</string>
		<string>TitilliumWeb-Bold.ttf</string>
		<string>TitilliumWeb-BoldItalic.ttf</string>
		<string>TitilliumWeb-ExtraLight.ttf</string>
		<string>TitilliumWeb-ExtraLightItalic.ttf</string>
		<string>TitilliumWeb-Light.ttf</string>
		<string>TitilliumWeb-LightItalic.ttf</string>
		<string>TitilliumWeb-Regular.ttf</string>
		<string>TitilliumWeb-RegularItalic.ttf</string>
		<string>TitilliumWeb-SemiBold.ttf</string>
		<string>TitilliumWeb-SemiBoldItalic.ttf</string>
	</array>
</dict>
</plist>
